.ai-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeInOverlay 0.3s ease;
}

.ai-popup {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  max-width: 750px;
  position: relative;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
  animation: slideUp 0.4s ease;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #ff4b2b, #ff1e1e);
    color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(7, 7, 7, 0.3),
              inset 0 -2px 4px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
}

.close-btn:hover {
  transform: rotate(90deg) scale(1.15);
  background: linear-gradient(145deg, #e60023, #b00000);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}

.close-btn:active {
  transform: scale(0.95);
  background: linear-gradient(145deg, #c70000, #9b0000);
}



@keyframes fadeInOverlay {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
